@model Szakdoga.Models.Message

<div class="col-md-auto">
    <div class="card" style="width:auto;height:auto;margin-top:20px;">
        <div class="card-header" style="font-weight:bold;font-style:italic;background: linear-gradient(to right, #A60311, #fff);color: white;">
            <h4 style="font-weight: bold; ">@Model.Email</h4>
        </div>
        <div class="card-body cardborder">
            <blockquote class="blockquote mb-0">
                <p>@Model.Velemeny</p>
                @if (User.IsInRole("Admin"))
                {
                    <span onclick="return confirm('Törlöd?')" style="float:right;">@Html.ActionLink("Törlés", "Torles", "Intezo", new { id = Model.Id }, new { @class = "btn btn-outline-danger" })</span>
                }
            </blockquote>
        </div>
    </div>
</div>
