@using Szakdoga.Models
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    @Html.ActionLink("Naptár", "Calendar", "Home", new { area = "" }, new { @class = "navbar-brand" })

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            @if (User.IsInRole(Szakdoga.Models.RoleNevek.Admin))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menedzsment
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Users/UserIndex">Felhasználók</a>
                        <a class="dropdown-item" href="/Home/Event">Események</a>

                    </div>
                </li>
            }
            @if (User.IsInRole(Szakdoga.Models.RoleNevek.User))
            {
            <li class="nav-item">
                <a class=" nav-link" href="/Uzenet/New">Új üzenet</a>
            </li>
            }
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>
